/*
 * CSS for the section class-named `places`
 */

.places article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 300px;
  position: relative;
  left: 120px
}

.places h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
}

.places h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
